@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #d6d1d9;
}

nav{
    background-color: rgb(127, 76, 127);
    color: white;
    height: 65px;
    font-size: 27px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    font-family: 'Roboto', sans-serif;
}

nav ul{
    list-style-type: none;
}

.gameContainer{ 
    background-color: #151415;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    color: aliceblue;
   
}

.container{
    display: grid;
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns: repeat(3, 10vw);
    font-family: 'Roboto', sans-serif;
    position: relative;
}

.box{

    border: 2px solid rgb(100, 73, 95);
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.3s ease;
    box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.6), inset 0 -4px 6px rgba(255, 255, 255, 0.1); */
    border-radius: 12px;
    cursor: pointer;
    transition: transform 0.2s ease, backdrop-filter 0.3s ease, box-shadow 0.3s ease;
    /* backdrop-filter: blur(10px); */
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2), 0 2px 8px rgba(0, 0, 0, 0.5);
}

.box:hover{
    /* background-color: rgb(242, 234, 250);
    color: #151415;
    transform: translateY(-3px);
  */

  transform: rotate(10deg) scale(1.1);
  background: linear-gradient(135deg, #dda6d3, #9325a1);
  box-shadow: 0 8px 20px rgba(225, 148, 213, 0.5);
}

.info {
    font-size: 22px;
}

.gameInfo{
    padding: 0 34px;
    font-family: 'Baloo Bhaina 2', cursive;
}

.gameInfo h1{
    font-size: 2.5rem;
}

.imgbox img{
    width: 0;
    transition: width 1s ease-in-out;
}

.br-0{
    border-right: 0;
}

.bl-0{
    border-left: 0;
}

.bt-0{
    border-top: 0;
}

.bb-0{
    border-bottom: 0;
}

#reset {
    margin: 0 23px;
    padding: 1px 18px;
    background: #f3e7f9;
    border-radius: 6px;
    cursor: pointer;
    font-family: 'Baloo Bhaina 2';
    font-size: 15px;
    font-weight: bolder;
    box-shadow: 10px 8px 30px rgba(225, 148, 213, 0.5);

}
#reset:hover{
    background-color: #8d3083;
    color: aliceblue;
    box-shadow: 8px 6px 30px rgba(225, 148, 213, 0.8);
}

.line{
    background-color: rgb(225, 170, 219);
    height: 3px;
    width: 0;
    position: absolute;
    background-color: #911d91;
    transition: width 1s ease-in-out;
    /* color: aliceblue; */
}

@media screen and (max-width: 950px)
{
    .gameContainer{
        flex-wrap: wrap;
    }
    .gameInfo{
        margin-top: 34px;
    }
    .gameInfo h1{
        font-size: 1.5rem;
    }
    .container { 
        grid-template-rows: repeat(3, 20vw);
        grid-template-columns: repeat(3, 20vw);
    }

 
}

